.cart-page {
  max-width: 900px;
  margin: 0 auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  .right-side {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

.cart-summary {
  font-size: 1.1rem;
}
