Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Log.txt
*.lnk

.idea/
*.iws
*.iml
*.ipr
out/

.vscode/
!.vscode/extensions.json
.history/
*.code-workspace

.metadata/
.classpath
.project
.settings/
*.launch

node_modules/
.angular/
dist/
tmp/
out-tsc/
.sass-cache/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

cypress/screenshots/
cypress/videos/

*.class
*.log
*.ctxt
.mtj.tmp/

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.nextVal
release.properties
activemq-data/

.gradle/
build/

.env
.env.local
.env.*.local

application-local.properties
application-local.yml
application-local.yaml

*.jks
*.p12
*.pem
*.key