.product-card {
  background-color: #4B008250;
  border-radius: 10px;
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .left {
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  width: 50%;
}
