<div class="product-card">
  <div class="left">
    <h1 style="font-size: 1.5rem">{{ product().name }}</h1>
    <p style="font-size: 1.2rem">Preis: {{ product().price }} CHF</p>
  </div>
  <div class="right">
    @if (role() == 'ADMIN') {
      <button class="btn btn-warning"
              (click)="editProduct()"
      >
        Bearbeiten
      </button>
      <button
        class="btn btn-danger"
        (click)="deleteProduct()"
      >
        Löschen
      </button>
    } @else {
      <button class="btn btn-success">
        zum Warenkorb hinzufügen
      </button>
    }
  </div>
</div>
@if (editActive()) {
  <div class="popup-overlay">
    <app-edit-product-popup
      class="popup-content"
      [product]="product()"
      (close)="hideEditProduct()"
    />
  </div>
}

